.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .loginPage {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;

        }

        .title {
            color: #5d5b8d;
            font-size: 12px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
            
        }

        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }

        #GoogleButton {
            background-color: #7b96ec;
            border-radius: 10px;
            color: white;
            padding: 10px;
            font-weight: bold;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
        }

    }

    .registerPage {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    
        .logo {
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
    
        }
    
        .title {
            color: #5d5b8d;
            font-size: 12px;
        }
    
        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
    
            input {
                padding: 15px;
                border: none;
                width: 250px;
                border-bottom: 1px solid #a7bcff;
    
                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }
    
            button {
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                border: none;
                cursor: pointer;
            }
    
        }
    
        p {
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}
.homePage {
    background-color: black;
    background-size: cover;
    display: flex;
    
    align-items: center;
    justify-content: center;
    //overflow: hidden;
    
    .container{
        display: flex;
        position: relative;
        background-size: auto;
        width: 100vw;
        height: 100vh;
        .guideColumn{
            column-count: auto;
            flex-shrink: 1;
            background-color: #4a4a4b;
            position: relative;
            p {
                color: white;
            }
            #bottomPage {
                position: absolute;
                bottom: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: left;
                gap: 10px;
                p {
                    color: white;
                    font-size: 12px;
                }
                #logoutButton {
                    background-color: gray;
                    color: white;
                    font-weight: bold;
                    border: none;
                    cursor: pointer;
                    padding: 10px;
                }
            
            }
        }
        .mainHome{
            flex: auto;
            background-color: pink;
            position: relative;
            color: gray;
        }
    }
}